@import url(http://fonts.googleapis.com/css?family=Glegoo);
@import url(http://fonts.googleapis.com/css?family=Asap:400,700);
body {
  font-family: 'Asap';
  background-color: #bcf1ed; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Glegoo"; }

.hidden {
  visibility: hidden;
  display: none; }

.brand {
  text-transform: uppercase;
  font-size: 1.3em !important; }

.floater {
  float: left;
  height: 70%;
  margin-bottom: 15%; }

.center-box, .tall {
  clear: both;
  height: 240px;
  width: 70%;
  margin: auto;
  padding: 20px;
  background-color: #ff6e4b;
  border: 1px solid #ff5931; }
  .center-box h4, .tall h4 {
    color: white; }
  .center-box .button, .tall .button {
    box-shadow: none;
    background-color: #2d5d94;
    border-color: #275180;
    margin: 10px 0px; }
    .center-box .button:hover, .tall .button:hover {
      background-color: #3267a4; }

.tall {
  height: 400px; }

.center-big-box {
  clear: both;
  height: 500px;
  width: 70%;
  margin: auto;
  padding: 20px;
  background-color: #fff1c7;
  border: 1px solid darker(#fff1c7, 4%); }
