<div class="row">
  <div class="large-12 columns">
    <div class="floater"></div>
    <div class="center-box">
      <form method="POST" enctype="multipart/form-data" action="/api/uploadFile" id="upload-form">
        <input type="file" name="file"><br/>
        <input type="submit" class="button" value="Upload">
      </form>
      <div class="message">
      </div>
    </div>
  </div>
</div>