<div class="row">
  <div class="large-12 columns">
    <div class="floater"></div>
    <div class="center-box">
      <h4>Login:</h4>
      <form>
        <div class="row">
          <div class="large-12 columns">
            <input type="text" placeholder="User Name">
            <input type="password" placeholder="Password">
            <a href="#/login" class="button">Submit</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>