<div class="row">
  <div class="large-12 columns">
    {{> message}}
    <div class="tall">
      <h4>Sign Up:</h4>
      <form id="signup-form" action="/api/signup/" method="POST">
        <div class="row">
          <div class="large-12 columns">
            <input type="text" name="username" placeholder="User Name">
            <input type="text" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="password_conf" placeholder="Confirm Password">
            <input type="submit" value="Submit" class="button">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>