@import "bourbon/bourbon";
@import "_variables";
@import url(http://fonts.googleapis.com/css?family=Glegoo);
@import url(http://fonts.googleapis.com/css?family=Asap:400,700);

body {
  font-family: 'Asap';
  background-color: $base;
}

$topbar-bg: $secondary !default;
$topbar-dropdown-bg: darken($topbar-bg, 1%);

h1, h2, h3, h4, h5, h6 {
  font-family: "Glegoo";
}