// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #333;
$gray:                  #555;
$grayLight:             #999;
$grayLighter:           #F5F5F5;
$white:                 #fff;


// Theme Colors
//-------------------------------
$top-bar-color: #2D5D94;

$base: #FDEDD0;

$blue-base: #BCF1ED;

$other-blue: #2D5D94;
$other-blue-dark: darken($other-blue, 5%);

$bright: #FF634D;
$bright-dark: darken($bright, 5%);

$secondary: #FD795B;
$secondary-dark: darken($secondary, 5%);

$yellow: #FFF0AA;


