// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #333;
$gray:                  #555;
$grayLight:             #999;
$grayLighter:           #F5F5F5;
$white:                 #fff;


// Theme Colors
//-------------------------------
$base: #FDEDD0;
$blue: #BCF1ED;
$bright: #FF634D;
$secondary: #FD795B;
$yellow: #FFF0AA;

