@import "_custom";
@import "_variables";

.brand {
  text-transform: uppercase;
  font-size: 1.3em !important;
}

.floater {
  float: left; 
  height: 70%; 
  margin-bottom: 15%;
}

.login {
  clear: both; 
  height: 240px; 
  width: 70%; 
  margin: auto;
  padding: 20px;
  background-color: $bright; 
  border: 1px solid $bright-dark;

  h4 {
    color: $white;
  }

  .button {
    box-shadow: none;
    background-color: $other-blue;
    border-color: $other-blue-dark;
    &:hover {
      background-color: lighten($other-blue, 4%);
    }
  }
}
